################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreCodedChatbot.Api/.vs/CoreCodedChatbot.Api/v15
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/bin/Debug/netcoreapp2.1
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/obj
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/config.json
/CoreCodedChatbot.Api/.vs
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/bin/Debug/netcoreapp3.0
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/appsettings.Local.json
/CoreCodedChatbot.Api/CoreCodedChatbot.Api.sln.DotSettings.user
/CoreCodedChatbot.Api/CoreCodedChatbot.Api.sln.DotSettings
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/CoreCodedChatbot.Api.csproj.user
/.vs
/CoreCodedChatbot.Api/CoreCodedChatbot.ApiTests/obj
/CoreCodedChatbot.Api/CoreCodedChatbot.ApiTests/bin/Debug/netcoreapp3.1
/CoreCodedChatbot.Api/CoreCodedChatbot.ApiTests/bin/Debug/netcoreapp3.0
/CoreCodedChatbot.Api/CoreCodedChatbot.ApiApplication/obj
/CoreCodedChatbot.Api/CoreCodedChatbot.ApiApplication/bin/Debug
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/bin/Debug/netcoreapp3.1
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/bin/Debug/net7.0
/CoreCodedChatbot.Api/CoreCodedChatbot.ApiTests/bin/Debug/net7.0
