################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreCodedChatbot.Api/.vs/CoreCodedChatbot.Api/v15
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/bin/Debug/netcoreapp2.1
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/obj
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/config.json
/CoreCodedChatbot.Api/.vs
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/bin/Debug/netcoreapp3.0
/CoreCodedChatbot.Api/CoreCodedChatbot.Api/appsettings.Local.json
/CoreCodedChatbot.Api/CoreCodedChatbot.Api.sln.DotSettings.user
